@import url('outfit.css');

:root {
  --font-main: 'Outfit-Variable', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* fonts weight */
  --font-var: 'Outfit-Variable';
  --outfit-100: 'Outfit-Thin';
  --outfit-200: 'Outfit-ExtraLight';
  --outfit-300: 'Outfit-Light';
  --outfit-400: 'Outfit-Regular';
  --outfit-500: 'Outfit-Medium';
  --outfit-600: 'Outfit-SemiBold';
  --outfit-700: 'Outfit-Bold';
  --outfit-800: 'Outfit-ExtraBold';
  --outfit-900: 'Outfit-Black';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: var(--font-main);
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  /* scrollbar-width: thin; */
  color: #27272a;
}
body {
  background-color: #f4f4f5;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: #f4f4f5;
  /* width: 100vw; */
  height: 100vh;
}

header {
  display: flex;
  width: 100%;
  /* justify-content: center; */
  background-color: #ffffff;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 72rem;
  height: 5rem;
  margin-inline: auto;
}

form {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.25rem 2.25rem;
  background-color: #ffffff;
  border-radius: .375rem;
}

form#sign-up {
  padding: 1.5rem 2.25rem;;
}

form .title {
  padding-bottom: .5rem;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field label { 
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #27272a;
  padding-bottom: 0.375rem;
  width: 100%;
}

.group {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.field textarea,
.field input {
  border: none;
  padding: .5rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  outline: 1px solid #d4d4d8;
  width: 24rem;
  transition: width 0.2s ease;
}

.group-fields {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

.group-fields .field input {
  border: none;
  padding: .5rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  outline: 1px solid #d4d4d8;
  width: 16rem;
  transition: width 0.2s ease;
}

.field textarea {
  height: 8rem;
  resize: none;
  width: 100% !important;
}

.field input::placeholder {
  color: #3f3f46;
}

.field input:focus {
  outline: 2px solid #f59e0b;
}

button {
  border: none;
  padding: .75rem;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 700;
  border-radius: .25rem;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  background-color: #fbbf24;
  color: #27272a;
}

.drop label:hover,
button:hover {
  background-color: #fcd34d;
  transition: background-color 0.3s ease-in-out;
}

button#leave {
  width: 6rem;
}

button.btn-sucess,
button.btn-danger {
  width: 4rem;
}

button.btn-sucess {
  background-color: #fbbf24;
  color: #1c1917;
}

button.btn-sucess:hover {
  background-color: #fcd34d;
}

button.btn-danger {
  background-color: #ef4444;
  color: #f4f4f5;
}

button.btn-danger:hover {
  background-color: #ff6262;

}

dialog { 
  border: none;
  border-radius: .375rem;
  margin: auto;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

dialog .modal-title {
  font-size: 1.125rem;
}

div.container-modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem 1rem 2rem;
}

.button-box {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.drop {
  border-radius: 10px;
  border: 2px dashed #d4d4d8;
  display: grid;
  width: 100%;
  place-content: center;
  padding: 2rem;
  box-sizing: border-box;
  display: grid;
  place-items: center;
}

.active {
  border: 2px solid #27272a;
  background: #fde68a;
}

.drop .icon {
  font-size: 60px;
  color: #fbbf24;
}
.drop .text {
  text-align: center;
  font-weight: 500;
  color: #27272a;
  margin-top: 1rem;
}

.progress {
  background: #fbbf24;
  width: 0%;
  height: 20px;
  display: none;
  border-radius: 6px;
  transition: all 0.2s;
}
.drop label {
  background: #fbbf24;
  padding: 0.7rem 1.8rem;
  border-radius: 5px;
  color: #27272a;
  cursor: pointer;
  font-weight: 600
}

.file-input {
  display: none;
}

.line {
  width: 5rem;
  height: 2px;
  background: #52525b;
}

.or-con {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.or {
  margin: 0 1rem;
  font-weight: 500;
  color: #443f46;
}


@media (max-width: 1152px) {
  nav {
    margin-inline: 4rem;
  }
}

@media (max-width: 720px) {
  /* textarea { 
    width: ;
  } */
  .group-fields .field input {
    width: 12rem;
  }
}

/* @media (max-width: 580px) {
  .group-fields .field input {
    width: 8rem;
  }
  .field textarea {
    width: 16rem;
  }
} */